<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PST</title>
    <link rel="stylesheet" type="text/css" href="./css/output.css">
</head>

<body class="overflow-x-hidden">
    <div class="flex flex-col w-full gap-4 justify-center items-center font-mono">
        <div class="w-[8%] appear">
            <img src="../resources/logo/pst_logo.png" alt="">
        </div>

        <div class="text-white text-2xl xl:text-3xl font-bold appear">
            Pokemon Shiny Tracker
        </div>

        <input type="text" class="show latex7 mt-2 lg:mt-4 xl:mt-10 p-2 w-64 lg:w-96 xl:w-[28rem] rounded-md" placeholder="search pokemon..." style="font-family:system-ui">

        <div class="relative flex justify-center items-center w-full h-64 lg:h-72 xl:h-96 appear latex7 lg:mt-8 xl:mt-14">
            <div class="back-menu-diamond h-72 w-96 lg:h-[21rem] xl:h-[28rem] lg:w-[32rem] xl:w-[44rem] lg:top-[-7.5%] translate"></div>
            <div class="menu w-full h-64 lg:h-72 xl:h-96"></div>

            <div class="flex flex-col justify-evenly items-center gap-5">
                <div class="z-10 fixed top-10 text-white text-xl lg:text-2xl" style="font-family:system-ui, -apple-system">
                    Pikachu
                </div>
                <div class="z-10">
                    <img id="pokemon-portrait" class="min-h-[65px] max-h-[125px] lg:min-h-[85px] lg:max-h-[150px] xl:min-h-[100px] xl:max-h-[200px]" src="../resources/pokemon_sprites/1.gif" alt="">
                </div>
            </div>

        </div>
        <div class="my-4 lg:my-12 xl:my-20 bg-[#444] py-2 w-full z-10 flex bg-red justify-center items-center gap-32 lg:gap-44 xl:gap-56 appear latex7">
            <div class="text-white text-2xl lg:text-4xl xl:text-5xl cursor-pointer" onclick="loadPrev()">
                &lt;
            </div>
            <div class="text-white text-2xl lg:text-4xl xl:text-5xl cursor-pointer" onclick="loadNext()">
                &gt;
            </div>
        </div>

    </div>

    <script src="./js/main.js"></script>
</body>

</html>