<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PST</title>
    <link rel="stylesheet" type="text/css" href="./css/output.css">
</head>

<body class="overflow-x-hidden">
    <div class="flex flex-col w-full gap-4 justify-center items-center font-mono">
        <div class="w-[10%] appear">
            <img src="../resources/logo/pst_logo.png" alt="">
        </div>

        <div class="text-white text-2xl xl:text-3xl font-bold appear">
            Pokemon Shiny Tracker
        </div>

        <div class="my-6 text-white xl:text-lg show latex7">
            Select your next quest
        </div>
        <div class="relative flex justify-center items-center w-full h-64 xl:h-72 appear latex7 mt-8">
            <div class="back-menu-diamond h-72 w-96 xl:h-[21rem] xl:w-[32rem] xl:top-[-7.5%] translate"></div>
            <div class="menu w-full h-64 xl:h-72"></div>

            <div class="flex justify-evenly items-center gap-64">
                <div class="z-10" onclick="loadPrev()">
                    <span class="text-white text-2xl cursor-pointer">&lt;</span>
                </div>
                <div class="z-10">
                    <img id="pokemon-portrait" width="200" src="https://raw.githubusercontent.com/PokeAPI/sprites/refs/heads/master/sprites/pokemon/1.png" alt="">
                </div>
                <div class="z-10" onclick="loadNext()">
                    <span class="text-white text-2xl cursor-pointer">&gt;</span>
                </div>
            </div>

        </div>

    </div>

    <script src="./js/main.js"></script>
</body>

</html>